// colors
$chartBlue: #329ce8;
$chartRed: #e34e36;
$chartOrange: #ff8f24;
$chartYellow: #fec44f;
$chartGreen: #52b033;
$chartPurple: #8554bf;
$chartLightBlue: #6dccf2;
$chartGray: #c9c9c9;
$chartCopy: #333333;
$chartText: #848484;